+font-face('ionicons', font-files('ionicons.woff', 'ionicons.ttf', 'ionicons.svg'), 'ionicons.eot', normal, normal)

@import url(http://fonts.googleapis.com/css?family=Lily+Script+One)

$font-icon: 'ionicons'
$font-system: 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-custom-1: 'Lily Script One', cursive

$color-dark: #222
$color-warning: #d5a000
$color-success: #528b52
$color-danger: #b33434
$color-info: #24a0b7
$color-custom-1: #162c75
$color-custom-2: #fcb040
$color-custom-3: #a27111
$color-custom-4: #f9d196
$color-custom-5: #e27822

$main-width: 940px

body
	background: #fff
	color: $color-dark
	font:
		size: 0.75em
		family: $font-system

strong
	font-weight: bold

em
	font-style: italic

button
	cursor: pointer

[disabled]
	+opacity(0.5)

	cursor: default
