.box-toggle
	.box-toggle-trigger
		text-align: right
		font-size: 0.9em

		a
			@extend .link-main

	.box-toggle-container
		display: none
		margin-top: 15px

.box-toggle-open
	.box-toggle-container
		display: block

.box-text
	a
		@extend .link-main

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		margin-bottom: 15px
		font-weight: bold
		line-height: 120%

	h1
		font-size: 2.8em
		letter-spacing: -1px

	h2
		font-size: 2.2em
		letter-spacing: -1px

	h3
		font-size: 1.8em

	h4
		font-size: 1.6em

	h5
		font-size: 1.4em

	h6
		font-size: 1.2em

	p
		margin-bottom: 1em
		font-size: 1.1em
		line-height: 130%

	ul
		margin: 0 0 1em 15px
		font-size: 1.1em
		line-height: 130%

		li
			list-style: inside disc

.box-text-small
	font-size: 0.9em

	p,
	ul
		margin-bottom: 0.5em

.box-well
	+border-radius(3px)

	margin-bottom: 15px
	padding: 15px
	background: #f7f7f7

.box-group
	margin-bottom: 30px

.box-terms
	height: 100px
	overflow: auto
	margin-bottom: 15px
	padding: 15px
	background: #eee
	line-height: 120%

	h4
		margin-bottom: 15px
		font:
			weight: bold
			size: 1.1em
		letter-spacing: -1px
		text-transform: uppercase

	h5
		margin: 15px 0
		font:
			weight: bold
			size: 1.1em
		letter-spacing: -1px

	p
		margin: 0.5em 0
		font-size: 0.9em

	ul
		margin: 0.5em 0 0.5em 15px
		font-size: 0.9em

		li
			margin: 0.5em 0
			list-style: inside disc

.box-separate
	padding-top: 15px
	border-top: 2px solid $color-dark

.box-separate-light
	margin-top: 15px
	padding-top: 15px
	border-top: 1px dotted #ddd

.box-stamp
	+border-radius(100px)
	+box-sizing(border-box)

	width: 200px
	height: 200px
	margin: 0 auto
	background:
		color: #ddd
		position: 50% 50%
		repeat: no-repeat

.box-stamp-warning
	background-image: image-url('ico-warning.png')

.box-stamp-success
	background-image: image-url('ico-success-2.png')

.box-stamp-error
	background-image: image-url('ico-error.png')

.box-message
	+border-radius(100px)
	+box-sizing(border-box)

	width: 150px
	height: 150px
	margin: 0 auto
	padding: 75px 15px 15px
	border-bottom: 1px solid #ccc
	background:
		color: #fff
		position: 50% 25px
		repeat: no-repeat
	color: #888
	font-size: 0.9em
	line-height: 130%
	text-align: center

	a
		@extend .link-main

.box-message-empty
	background-image: image-url('ico-empty.png')

.box-filter
	+border-radius(4px)

	margin: 10px
	background: #eee

	.box-filter-item
		padding: 10px
		border-bottom: 1px dotted #ccc

		h4
			margin-bottom: 10px
			font:
				weight: bold
				size: 0.8em
			text-transform: uppercase

		&:last-child
			border: none

.box-heading
	color: darken($color-custom-5, 15%)
	font:
		size: 1.7em
		family: $font-custom-1

.box-highlight
	padding: 10px
	background: rgba($color-custom-5, 0.8)
	color: #fff
	font:
		size: 1.7em
		family: $font-custom-1
	text-align: center
