.breadcrumbs
	+border-radius(3px)

	overflow: hidden
	margin-bottom: 30px

	ul
		li
			display: block
			float: left
			padding: 5px 10px
			border-right: 1px solid #ddd
			color: #999
			font-size: 0.9em

			&:first-child
				padding-left: 0

			&:last-child
				border: none

			a
				color: $color-dark
				text-decoration: none

				&:hover
					text-decoration: underline
