.button
	+button

.button-dark
	+button-extend(#222)

.button-info
	+button-extend($color-info)

.button-warning
	+button-extend($color-warning)

.button-danger
	+button-extend($color-danger)

.button-success
	+button-extend($color-success)


.button-small
	height: 20px
	padding: 0 10px
	font-size: 0.8em
	line-height: 20px

.button-large
	height: 45px
	font-size: 1.5em
	line-height: 45px

.button-cart
	&:after
		@extend .icon

		content: '\f167'
		float: right
		margin-left: 10px
		font-size: 25px
		line-height: 45px
