.checkout-steps
	$color: $color-custom-2

	padding: 0 0 30px
	background: $color

	.container
		@extend .clearfix

		width: $main-width
		position: relative
		margin: 0 auto

	.step
		+box-sizing(border-box)

		display: block
		position: relative
		float: left
		padding: 10px 15px
		border-left: 1px solid #fff
		background: darken($color, 15%)
		color: #fff
		font:
			weight: bold
			size: 0.9em
		text-transform: uppercase

		&:first-child
			+border-left-radius(3px)

			border: none

		&:last-child
			+border-right-radius(3px)

		&.checked
			background: darken($color, 25%)

			&:after
				@extend .icon

				content: '\f122'
				position: absolute
				right: 15px
				top: 10px
				color: $color

		&.active
			background: darken($color, 35%)

		&.link
			padding: 0

			a
				+transition(all 0.1s)

				display: block
				padding: 10px 15px
				color: #fff
				text-decoration: none

				&:hover
					background: darken($color, 40%) !important

.checkout-steps-3
	.step
		width: 33.33%

.checkout-steps-4
	.step
		width: 25%
