.form-main
	legend
		display: none

	label
		display: block
		margin-bottom: 25px
		font-size: 1.1em

		&.check
			margin-bottom: 5px
			cursor: pointer
			font-size: 0.9em

	.label
		margin-bottom: 10px
		font-size: 1.1em

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea
		@extend .field-text

		display: block
		width: 100%
		margin-top: 5px
		line-height: 130%

	textarea
		height: 60px
		padding: 10px

	select
		@extend .field-text

		display: block
		width: 100%
		margin-top: 5px
		padding-right: 0

	input[type="file"]
		+box-sizing(border-box)

		display: block
		margin-top: 10px
		border: none

	[readonly]
		background: #e9e9e9 !important

	.field-merged
		@extend .clearfix

		margin-top: 5px

		input,
		button
			display: block
			float: left
			margin: 0 !important

		input
			+border-right-radius(0)

			width: 80% !important
			border-right: none

		button
			+border-left-radius(0)

			width: 20% !important

.form-action
	margin-top: 15px
	padding-top: 15px
	border-top: 1px solid #ddd
	text-align: right

	ul
		display: inline-block

		li
			display: inline
			margin: 0 15px
			padding-left: 10px
			background: image-url('arrow-right-2.png') 0 50% no-repeat

			a
				@extend .link-main

.field-note
	display: block
	margin-top: 7px
	color: #999
	font-size: 0.9em
	line-height: 130%

.field-loading
	background:
		image: image-url('ajax-loader-3.gif') !important
		position: 97% 50% !important
		repeat: no-repeat !important

.errorList
	+border-radius(3px)
	+box-color($color-danger)

	display: inline-block
	margin-top: 7px
	padding: 0 10px
	border:
		width: 1px
		style: solid
	font-size: 0.9em

	li
		display: block
		padding: 5px 0
		border-bottom: 1px dotted $color-danger

		&:last-child
			border-bottom: none

.field-amount
	input
		@extend .field-text

		display: block
		width: 60px
		margin: 0 auto 5px
		text-align: center

	a
		@extend .link-main

		display: none
		font-size: 0.9em

.field-delivery
	input
		@extend .field-text

		display: block
		width: 130px
		margin: 0 auto 5px
		text-align: center

