.heading-box
	margin-bottom: 20px
	font:
		weight: bold
		size: 1.3em
	letter-spacing: -1px

.heading-page
	margin-bottom: 30px
	padding-bottom: 10px
	border-bottom: 1px dotted $color-dark
	font:
		weight: bold
		size: 1.5em
	letter-spacing: -1px
	text-transform: uppercase

.heading-group
	@extend .clearfix

	margin-bottom: 30px

	span
		+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
		+box-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
		+border-radius(3px)

		display: block
		float: left
		padding: 5px 10px
		background: $color-dark
		color: #fff
		font-size: 1.1em
		text-transform: uppercase

.heading-separate
	margin-bottom: 15px
	background: image-url('bg-separate.png') 0 50% repeat-x
	line-height: 30px
	text:
		transform: uppercase
		align: center

	span
		display: inline-block
		padding: 0 15px
		background: #f7f7f9
		font-size: 1.3em

.heading-label
	margin-bottom: 10px
	font-size: 1.1em

.heading-large
	margin-bottom: 30px
	font:
		weight: bold
		size: 2em
	letter-spacing: -1px

.heading-section
	margin: 30px 0 20px
	color: $color-custom-3
	font:
		// weight: bold
		size: 2.5em
		family: $font-custom-1
