.app-return
	display: none
	padding: 15px 0
	background: $color-custom-3
	color: #fff
	font-size: 0.9em
	line-height: 100%
	text:
		align: center
		decoration: none

.global-header
	z-index: 99
	width: 100%
	height: 176px
	position: relative
	background: $color-custom-1 image-url('bg-top.png') 50% 45px no-repeat

	.top
		border-bottom: 1px solid $color-custom-2

		.top-container
			width: $main-width
			height: 44px
			position: relative
			margin: 0 auto
			line-height: 44px
			text-align: right

		.welcome
			display: inline-block
			color: #fff
			font:
				size: 1.2em
				family: $font-custom-1
			word-spacing: 2px

			a
				+transition(all 0.1s)

				color: $color-custom-4
				text-decoration: none

				&:hover
					color: $color-custom-2

		.links
			display: inline-block

			li
				display: inline

				a
					+transition(all 0.1s)

					display: inline-block
					padding: 0 5px 0 10px
					border-left: 1px solid $color-custom-4
					color: $color-custom-4
					font-size: 0.9em
					line-height: 100%
					text-decoration: none

					&:hover
						color: #fff

				&:first-child
					a
						border: none

	.middle
		border-bottom: 5px solid $color-custom-2

		.middle-container
			height: 85px
			width: $main-width
			position: relative
			margin: 0 auto

		.logo
			position: absolute
			left: 50%
			top: 50px
			margin-left: -121.5px

			a
				+replace-text-with-dimensions('logo-pandoro.png')

				display: block

		.search
			$height: 30px

			width: 160px
			position: absolute
			right: 180px
			top: 28px

			legend
				display: none

			input
				@extend .field-text
				+border-right-radius(0)

				z-index: 5
				width: 80%
				height: $height
				position: relative
				float: left
				padding: 0 5px
				border-color: $color-custom-1
				background: $color-custom-1
				color: #fff
				line-height: $height

			button
				+border-right-radius(3px)
				+border-left-radius(0)
				+box-shadow(none)

				z-index: 0
				width: 20%
				height: $height
				position: relative
				float: left
				margin: 0
				padding: 0
				background: $color-custom-1
				color: $color-custom-2
				line-height: $height
				text-indent: -9999px

				&:after
					@extend .icon

					content: '\f21f'
					position: absolute
					left: 5px
					top: 5px
					font-size: 22px
					text-indent: 0

		.cart
			display: block
			height: 50px
			position: absolute
			right: 0
			top: 17px
			padding-left: 45px
			background:
				image: image-url('icon-basket.png')
				position: 0 50%
				repeat: no-repeat
				size: auto 80%
			color: #fff
			font-size: 0.9em
			text-decoration: none

			h4
				margin: 10px 0 5px
				font:
					weight: bold
					size: 1.2em
					family: $font-system

			&:hover
				span
					+transition(all 0.1s)

					color: $color-custom-2

	.nav
		width: $main-width
		position: relative
		margin: 0 auto
		background: $color-custom-1

		ul
			li
				display: inline

				a
					+transition(color 0.2s)

					display: block
					float: left
					padding: 0 13px
					color: #fff
					font:
						size: 1.15em
						family: $font-custom-1
					line-height: 41px
					text-decoration: none

					&:hover,
					&.active
						background: image-url('arrow-down-2.png') 50% 0 no-repeat
						color: $color-custom-2

				&:nth-child(5)
					a
						margin-left: 260px

.global-footer
	background: $color-custom-1 image-url('bg-main.png') 0 0 repeat
	color: #fff

	.blocks
		@extend .clearfix

		width: $main-width
		margin: 0 auto
		padding: 30px 0

	.copyright
		border-top: 1px solid rgba(255, 255, 255, 0.1)
		background: rgba(0, 0, 0, 0.4)

		.container
			@extend .clearfix

			width: $main-width
			margin: 0 auto
			padding: 15px 0

			.pandoro
				+replace-text-with-dimensions('logo-pandoro-2.png')

				display: block
				float: left
				margin-top: 12px

			address
				float: left
				margin-left: 60px
				font-size: 0.9em
				line-height: 140%

				a
					+transition(all 0.1s)

					color: $color-custom-4
					text-decoration: none

					&:hover
						color: $color-custom-2

			.agw
				+replace-text-with-dimensions('logo-agw.png')

				display: block
				float: right
				margin-top: 14px

.global-content
	@extend .clearfix

	z-index: 0
	width: $main-width
	min-height: 500px
	position: relative
	margin: 0 auto
	padding: 30px 0

	.legal-message
		margin-top: 30px
		color: #999
		font-size: 0.9em
		text-align: right

.layout-checkout
	.global-header
		.middle
			border:
				width: 46px
				color: $color-custom-2

			.logo
				left: 0
				top: 10px
				margin-left: 0

				a
					+replace-text-with-dimensions('logo-pandoro-3.png')

	.global-content
		min-height: 300px

.layout-bgbar
	body
		background: #fff image-url('bg-main-2.png') 50% 0 no-repeat

.page-switch
	@extend .clearfix

	margin: 35px 0

	h2
		+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))

		float: left
		color: $color-custom-4
		font:
			size: 4.9em
			family: $font-custom-1

	.select
		$height: 35px

		z-index: 999
		width: 270px
		position: relative
		float: right
		margin-top: 15px
		cursor: pointer
		background: #fff

		h5
			padding: 0 10px
			color: darken($color-custom-5, 15%)
			font:
				size: 1.5em
				family: $font-custom-1
			line-height: $height

			&:after
				@extend .icon

				content: '\f104'
				float: right
				line-height: $height

		ul
			display: none
			width: 100%
			position: absolute
			top: $height
			background: darken($color-custom-5, 15%)

			li
				a
					+transition(all 0.1s)

					display: block
					padding: 7px 10px
					color: #fff
					font:
						weight: bold
						size: 1.2em
					text-decoration: none

					&:hover
						background: rgba(255, 255, 255, 0.2)

