.list-links
	li
		margin: 5px 0
		padding-left: 10px
		background: image-url('arrow-right-2.png') 0 50% no-repeat

		a
			color: $color-dark
			font-size: 0.9em
			text-decoration: none

			&:hover
				text-decoration: underline

.list-links-light
	li
		background-image: image-url('arrow-right.png')

		a
			color: #fff

.list-display
	li
		@extend .clearfix

		display: block
		margin-bottom: 10px
		padding: 10px
		border-bottom: 1px solid #ddd
		background: #fff
		line-height: 120%

		.title
			margin-bottom: 5px
			font:
				weight: bold
				size: 1.1em

		.description
			font-size: 0.9em

.list-thumbs
	@extend .clearfix

	li
		display: inline

		a
			+transition(all 0.1s)

			display: block
			width: 81px
			height: 103px
			overflow: hidden
			position: relative
			float: left
			margin: 0 12px 12px 0
			border: 1px solid #bbb
			text-decoration: none

			span
				+box-sizing(border-box)
				+transition(all 0.1s)

				display: block
				width: 100%
				position: absolute
				left: 0
				bottom: 0
				padding: 3px
				background: #bbb
				color: #fff
				font-size: 0.8em
				text:
					transform: uppercase
					align: center
				line-height: 110%

			&:hover
				border-color: $color-dark

				span
					background: $color-dark

		&.active
			a
				border-color: $color-dark

				span
					background: $color-dark

.list-buttons
	li
		margin-bottom: 10px

		a
			+border-radius(3px)
			+transition(all 0.1s)

			display: block
			overflow: hidden
			padding-right: 13px
			border: 1px solid #ccc
			background: #ccc image-url('arrow-right.png') 99% 50% no-repeat
			text-decoration: none

			.container
				+transition(background-color 0.1s)

				padding: 10px
				background: #fff
				color: #999
				font-size: 0.9em
				line-height: 120%

				.title
					font:
						weight: bold
						size: 1.1em

				.description
					margin-top: 5px

				.note
					margin-top: 5px
					font-size: 0.9em

			&:hover
				border-color: #222
				background-color: #222

				.container
					color: $color-dark

		&.active
			a
				border-color: #222
				background-color: #222

				.container
					color: $color-dark

		&.loading
			a
				.container
					background:
						image: image-url('ajax-loader.gif')
						position: 97% 50%
						repeat: no-repeat

.list-field
	@extend .clearfix

	li
		display: inline

		a
			+border-radius(3px)
			+transition(all 0.1s)

			display: block
			float: left
			padding: 10px
			margin-right: 5px
			background: #999
			color: #fff
			font-size: 0.9em
			text-decoration: none

			&:hover
				background-color: $color-dark

		&.active
			a
				background-color: $color-dark

		&.disabled
			a
				+opacity(0.4)

				cursor: default
				background: #999 image-url('diagonal-line.png') 50% 50% no-repeat

				&:hover
					background: #999 image-url('diagonal-line.png') 50% 50% no-repeat

.list-nav-secondary
	+border-radius(3px)

	padding: 5px 0
	border: 1px solid $color-custom-5
	background: #fff

	> li
		> a
			display: block
			padding: 7px 15px
			color: $color-dark
			font-size: 0.8em
			line-height: 120%
			text:
				transform: uppercase
				decoration: none

			&:hover
				color: $color-custom-5

		&.active
			> a
				background: $color-custom-5
				color: #fff

.list-filter
	max-height: 110px
	overflow: auto

	li
		font-size: 0.8em
		line-height: 130%

		a
			display: block
			padding: 3px 5px 3px 22px
			background: image-url('ico-unchecked.png') 0 0 no-repeat
			color: #666
			text-decoration: none

			&:hover
				color: $color-dark

		&.checked
			a
				background-image: image-url('ico-checked.png')
				color: $color-dark

.list-tips
	@extend .clearfix

	li
		+box-sizing(border-box)

		width: 210px
		height: 110px
		position: relative
		float: left
		margin: 0 10px 50px
		padding: 15px
		border: 1px solid #ddd
		background: #fff
		text-align: center

		.title
			color: $color-dark
			font:
				size: 1.5em
				family: $font-custom-1

		.view
			$height: 35px
			+box-sizing(border-box)
			+transition(all 0.1s)

			width: 80%
			height: $height
			position: absolute
			left: 50%
			bottom: -($height / 2)
			margin-left: -40%
			background: $color-custom-5
			color: #fff
			font:
				size: 1.7em
				family: $font-custom-1
			line-height: $height
			text-decoration: none

			&:hover
				background: darken($color-custom-5, 15%)
