@mixin property-range($property, $prefix, $start, $end, $factor, $unit)
	$i: $start

	@while $i <= $end
		#{$prefix}-#{$i}
			#{$property}: #{$i + $unit} !important
		$i: $i + $factor

@mixin box-color($color: $basis-color-secondary)
	border-color: lighten($color, 35%)
	background-color: lighten($color, 50%)
	color: $color

	a
		color: $color

@mixin grid($prefix: '', $items: 5, $gap: 3%)
	.#{$prefix}grid
		@extend .clearfix

		> .#{$prefix}grid-item
			min-height: 1px
			float: left
			margin-right: $gap

			&:last-child
				margin: 0

	@for $i from 1 through $items
		.#{$prefix}grid-items-#{$i}
			$width: (100% - ($gap * ($i - 1))) / $i

			> .#{$prefix}grid-item
				width: $width

			@for $j from 2 through ($i - 1)
				> .#{$prefix}grid-item-span-#{$j}
					width: ($width * $j) + ($gap * ($j - 1))

	.#{$prefix}grid-collapse
		> .#{$prefix}grid-item
			margin: 0

		@for $i from 1 through $items
			$width: 100% / $i

			&.#{$prefix}grid-items-#{$i}
				> .#{$prefix}grid-item
					width: $width

				@for $j from 2 through ($i - 1)
					> .#{$prefix}grid-item-span-#{$j}
						width: $width * $j

@mixin button($color: $color-custom-3)
	+border-radius(50px)
	+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
	+box-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
	+box-sizing(border-box)
	+transition(all 0.1s)

	display: inline-block
	height: 35px
	margin-left: 5px
	padding: 0 20px
	border: none
	background-color: $color
	color: #fff
	font:
		size: 0.9em
		family: $font-system
	line-height: 35px
	text:
		decoration: none
		transform: uppercase

	&.button-block
		display: block
		width: 100%
		margin: 0
		text-align: center

	&:hover
		background-color: lighten($color, 5%)

	&[disabled]
		background-color: $color

@mixin button-extend($color)
	background-color: $color

	&:hover
		background-color: lighten($color, 5%)

	&[disabled]
		background-color: $color
