@media (max-width: 970px)
	.table-responsive
		overflow-x: auto
		width: 100%
		margin-bottom: 15px
		overflow-y: hidden
		-ms-overflow-style: -ms-autohiding-scrollbar
		border: 1px solid #ddd

		> table
			margin-bottom: 0

			> thead,
			> tbody,
			> tfoot
				> tr
					> th,
					> td
						white-space: nowrap

			> thead,
			> tbody,
			> tfoot
				> tr
					> th:first-child,
					> td:first-child
						border-left: 0

					> th:last-child,
					> td:last-child
						border-right: 0

			> tbody,
			> tfoot
				> tr:last-child
					> th,
					> td
						border-bottom: 0

	.container-main
		$main-width: 100%
		+box-sizing(border-box)

		width: 100%
		padding:
			left: 15px
			right: 15px

	.checkout-steps
		.container
			@extend .container-main

	.showcase-details
		.images
			width: 30%

		.details
			width: 43%

	.global-header
		.top
			.top-container
				@extend .container-main

		.middle
			.middle-container
				@extend .container-main

			.logo
				left: 15px !important
				top: 13px
				margin: 0

				a
					width: 116px
					height: 60px
					background-size: 100% auto

			.search
				right: 90px

			.cart
				width: 50px
				overflow: hidden
				right: 15px
				padding: 0

				h4
					display: none

				span
					position: absolute
					top: -40px

					strong
						$size: 13px
						+border-radius(50px)

						display: block
						width: $size
						height: $size
						position: absolute
						right: 0
						top: 40px
						display: block
						padding: 5px
						background: $color-custom-1
						font-weight: normal !important
						line-height: $size
						text-align: center

		.nav
			@extend .container-main

			text-align: center

			ul
				li
					a
						display: inline-block
						float: none

					&:nth-child(5)
						a
							margin: 0

	.global-footer
		.blocks
			@extend .container-main

			img
				max-width: 100%

		.copyright
			.container
				@extend .container-main

	.global-content
		@extend .container-main

@media (max-width: 760px)
	.checkout-steps
		.step
			font-size: 0.7em

			&:after
				display: none !important

	.grid
		.grid-item
			width: 100%
			float: none
			margin-bottom: 15px

	.list-links
		li
			padding: 0
			background: none

	.form-action
		ul
			margin-bottom: 15px

	.showcase-product
		.product
			float: none
			margin: 0 auto 50px

	.showcase-details
		.images
			width: 100%
			float: none

		.details
			width: 100%
			float: none

	.app-return
		display: block

	.global-header
		height: auto

		.top
			background: $color-custom-1

			.top-container
				height: auto

			.links
				line-height: 130%

				li
					a
						padding: 0 3px 0 8px
						font-size: 0.8em

		.middle
			background: lighten($color-custom-1, 15%)

			.search
				width: 80px

				input
					width: 65%

				button
					width: 35%

		.nav
			ul
				li
					a
						&:hover,
						&.active
							background: none

	.global-footer
		text-align: center

		.copyright
			.container
				.pandoro
					float: none
					margin: 15px auto

				address
					float: none
					margin: 15px auto

				.agw
					float: none
					margin: 15px auto

