.showcase
	position: relative

	ul
		@extend .clearfix

		li
			display: block
			width: 208px
			height: 327px
			float: left
			margin: 0 8px 16px

			.item
				+box-sizing(border-box)

				display: block
				width: 100%
				height: 100%
				overflow: hidden
				position: relative
				float: left
				border: 1px solid #ddd
				background: #fff
				text-decoration: none

				.image
					z-index: 100
					position: relative

				.details
					+box-sizing(border-box)
					+transition(all 0.1s)

					z-index: 200
					width: 100%
					position: absolute
					left: 0
					bottom: 0
					padding: 10px
					background: #fff
					color: $color-dark

					.sold-out
						margin-bottom: 5px
						color: #999
						font:
							weight: bold
							size: 1.7em
						letter-spacing: -1px

					.price-old
						margin-bottom: 5px
						font-weight: bold
						text-decoration: line-through
						letter-spacing: -1px

					.price
						margin-bottom: 5px
						font:
							weight: bold
							size: 1.7em
						letter-spacing: -1px

					.description
						font-size: 0.9em
						line-height: 130%
						text-transform: uppercase

				.mask
					+box-sizing(border-box)
					+opacity(0)
					+transition(all 0.1s)

					z-index: 150
					width: 100%
					height: 100%
					position: absolute
					left: 0
					top: 0
					background: rgba(0, 0, 0, 0.2) image-url('showcase-mask.png') 50% 90px no-repeat

				&:hover
					.details
						background: #444
						color: #fff

					.mask
						+opacity(1)

.showcase-carousel
	height: 327px
	overflow: hidden

	ul
		margin-left: 18px

	.nav
		a
			z-index: 800
			width: 15px
			height: 29px
			position: absolute
			top: 150px
			background: image-url('arrows-left-right-2.png') no-repeat
			text-indent: -9999px

		.prev
			left: -10px
			background-position: 0 0

		.next
			right: -10px
			background-position: -15px 0

.showcase-lite
	@extend .clearfix

	display: block
	min-width: 400px
	margin-top: 10px
	padding-top: 10px
	border-top: 1px dashed #ccc
	color: $color-dark
	text-decoration: none

	&:first-child
		margin-top: 0
		padding-top: 0
		border: none

	.image
		+box-sizing(border-box)

		width: 19%
		float: left
		margin-right: 3%
		
		img
			display: block
			border: 1px solid #ccc

	.description
		width: 78%
		float: left
		line-height: 120%

		.title
			margin-bottom: 10px
			font-weight: bold
			text-transform: uppercase

		.details
			font-size: 0.9em

.showcase-details
	@extend .clearfix

	margin-bottom: 30px

	.images
		width: 370px
		float: left

		.medium
			height: 471px
			position: relative
			background: #fff

			img
				z-index: 100
				display: block
				position: relative
				cursor: crosshair

			.loader
				z-index: 200
				display: none
				width: 100%
				height: 100%
				position: absolute
				left: 0
				top: 0
				background: rgba(255, 255, 255, 0.8) image-url('ajax-loader-2.gif') 50% 50% no-repeat

		.info
			margin-top: 5px
			color: #999
			text-align: center

		.list-thumbs
			margin-top: 30px

			li:nth-child(4n+4)
				a
					margin-right: 0

	.details
		width: 530px
		float: right

		h2
			margin-bottom: 15px
			font-size: 1.7em
			text-transform: uppercase

		.resume
			p
				margin: 1em 0
				line-height: 130%

		.social
			margin-top: 15px

		.available
			height: 22px
			padding-right: 20px
			border-bottom: 1px dotted $color-dark
			line-height: 22px
			font-size: 0.9em
			line-height: 15px
			text-align: right

		.available-yes
			background: image-url('ico-success.png') right 0 no-repeat
			color: $color-success

		.available-no
			background: image-url('ico-prohibited.png') right 0 no-repeat
			color: $color-danger

		.total
			margin: 15px 0 30px

			.price-old
				margin-bottom: 5px
				font:
					weight: bold
					size: 1.3em
				text-decoration: line-through
				letter-spacing: -1px

			.price
				font:
					weight: bold
					size: 3em
				letter-spacing: -2px

		.action
			margin-top: 15px
			text-align: right

		.description
			margin-top: 15px
			padding-top: 5px
			border-top: 1px dotted $color-dark

			h4
				margin-bottom: 10px
				font:
					weight: bold
					size: 1.3em
				letter-spacing: -1px

			p
				margin: 1em 0
				line-height: 130%

.showcase-product
	@extend .clearfix

	.product
		+box-sizing(border-box)

		width: 210px
		height: 260px
		position: relative
		float: left
		margin: 0 10px 50px
		padding: 3px
		border: 1px solid #ddd
		background: #fff
		text-align: center

		.image
			img
				width: 100%

		.price
			$height: 85px
			+border-radius(50px)
			+box-sizing(border-box)

			width: $height
			height: $height
			position: absolute
			left: 50%
			top: 75px
			margin-left: -($height / 2)
			padding-top: 40px
			background: $color-custom-5
			color: #fff
			font:
				size: 1.4em
				family: $font-custom-1
			letter-spacing: -1px

			span
				position: absolute
				left: 12px
				top: 27px
				font-size: 0.7em

		.title
			margin-top: 60px
			color: $color-dark
			font:
				size: 1.3em
				family: $font-custom-1				

		.resume
			margin-top: 10px
			color: $color-dark
			font-size: 0.9em
			line-height: 110%

		.buy
			$height: 35px
			+box-sizing(border-box)
			+transition(all 0.1s)

			width: 80%
			height: $height
			position: absolute
			left: 50%
			bottom: -($height / 2)
			margin-left: -40%
			background: darken($color-custom-5, 15%)
			color: #fff
			font:
				size: 1.7em
				family: $font-custom-1
			line-height: $height
			text-decoration: none

			&:hover
				background: $color-custom-5

.showcase-product-custom
	@extend .clearfix

	.product
		+box-sizing(border-box)
		+transition(all 0.1s)

		display: block
		width: 219px
		height: 185px
		position: relative
		float: left
		margin: 0 8px 20px
		background: rgba($color-custom-5, 0.8)
		color: #fff
		font:
			size: 1.3em
			family: $font-custom-1
		text:
			align: center
			decoration: none

		.image
			img
				width: 219px
				height: 136px

		.title
			padding: 5px 10px

		&:after
			@extend .icon

			content: '\f21f'
			position: absolute
			right: 5px
			top: 100px
			font-size: 35px
			color: $color-custom-5

		&:hover
			background: $color-custom-5

.label-available
	+border-right-radius(3px)
	+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))
	+box-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))

	z-index: 99
	display: block
	position: absolute
	right: -3px
	top: 10px
	padding: 3px 5px
	background: $color-warning
	color: #fff
	font:
		weight: normal
		size: 11px
		family: $font-system

	&.yes
		background: $color-success

	&.no
		background: $color-danger
