.social-likes, .social-likes__widget
  display: inline-block
  padding: 0
  vertical-align: middle!important
  word-spacing: 0!important
  text-indent: 0!important
  list-style: none!important

.social-likes
  opacity: 0

.social-likes_visible
  opacity: 1
  -webkit-transition: opacity .1s ease-in
  transition: opacity .1s ease-in

.social-likes > *
  display: inline-block
  visibility: hidden

.social-likes_vertical > *
  display: block

.social-likes_visible .social-likes__widget
  visibility: inherit

.social-likes__widget
  display: inline-block
  position: relative
  white-space: nowrap
  &:before, &:after
    display: none!important

.social-likes_vertical .social-likes__widget
  display: block
  float: left
  clear: left

.social-likes__button, .social-likes__icon, .social-likes__counter
  text-decoration: none
  text-rendering: optimizeLegibility

.social-likes__button, .social-likes__counter
  display: inline-block
  margin: 0
  outline: 0

.social-likes__button
  position: relative
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &:before
    content: ""
    display: inline-block

.social-likes__icon
  position: absolute
  top: 0
  left: 0

.social-likes__counter
  display: none
  position: relative

.social-likes_ready .social-likes__counter, .social-likes__counter_single
  display: inline-block

.social-likes_ready .social-likes__counter_empty
  display: none

.social-likes_vertical .social-likes__widget
  display: block

.social-likes_notext .social-likes__button
  padding-left: 0

.social-likes_single-w
  position: relative
  display: inline-block

.social-likes_single
  position: absolute
  text-align: left
  z-index: 99999
  visibility: hidden
  opacity: 0
  -webkit-transition: visibility 0 .3s,opacity .3s ease-out
  transition: visibility 0s .3s,opacity .3s ease-out
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  &.social-likes_opened
    visibility: visible
    opacity: 1
    -webkit-transition: opacity .3s ease-out
    transition: opacity .3s ease-out

.social-likes__button_single
  position: relative

.social-likes
  min-height: 36px
  margin: -6px
  line-height: 19px

.social-likes_single-w
  line-height: 19px

.social-likes__widget
  margin: 6px
  color: #000
  background: #fff
  border: 1px solid #ccc
  border-radius: 3px
  line-height: 19px
  &:hover, &:active, &:focus
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #fff
    cursor: pointer

.social-likes__button, .social-likes__counter
  vertical-align: middle
  font-family: "Helvetica Neue",Arial,sans-serif
  font-size: 13px
  line-height: 20px
  cursor: inherit

.social-likes__button
  padding: 1px 6px 1px 20px
  font-weight: 400
  border-right: 0

.social-likes__icon
  width: 20px
  height: 18px
  margin-top: 1px
  background-repeat: no-repeat
  background-position: 50% 50%

.social-likes__counter
  min-width: 12px
  padding: 1px 4px
  font-weight: 400
  text-align: center
  border-left: 1px solid #ccc

.social-likes__widget
  &:hover > .social-likes__counter, &:focus > .social-likes__counter, &:active > .social-likes__counter
    position: relative
    border-left-color: transparent

.social-likes__widget_active > .social-likes__counter
  position: relative
  border-left-color: transparent

.social-likes__widget
  &:hover > .social-likes__counter:before, &:focus > .social-likes__counter:before, &:active > .social-likes__counter:before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: -1px
    border-left: 1px solid
    opacity: .4

.social-likes__widget_active > .social-likes__counter:before
  content: ""
  position: absolute
  top: 0
  bottom: 0
  left: -1px
  border-left: 1px solid
  opacity: .4

.social-likes_vertical
  margin: -6px
  .social-likes__widget
    margin: 6px

.social-likes_notext
  margin: -3px
  .social-likes__widget
    margin: 3px
  .social-likes__button
    width: 18px
  .social-likes__icon
    width: 100%
    background-position: center center

.social-likes__widget_single
  margin: 0

.social-likes_single
  width: 100%
  display: table
  margin: -12px 0 0
  padding: 4px 0
  background: #fff
  border: 1px solid #ccc
  border-radius: 3px
  .social-likes__widget
    float: none
    display: table-row
    margin: 0
    border: 0
    border-radius: 0
    background: 0 0
  .social-likes__button
    display: table-cell
    padding: 2px 6px 2px 24px
  .social-likes__icon
    margin-left: 4px
    margin-top: 2px
  .social-likes__counter
    display: table-cell
    padding: 2px 8px 2px 4px
    border-left: 0
    text-align: right
  .social-likes__widget
    &:hover > .social-likes__counter:before, &:focus > .social-likes__counter:before, &:active > .social-likes__counter:before
      display: none

.social-likes__icon_single
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANBAMAAACJLlk1AAAAJ1BMVEUAAAA3cf03b/8/f/8AAP84cP85c/82cfw2cf03cP02cPw2cf03cf3FHKGcAAAADHRSTlMAgCAEATIfzb+8zrsKDZ5YAAAAMUlEQVQI12NgYGtiAIKs4woMDCxbj04Bsg0OGDAwCAocYBRgEGA4wICdZEAjBYFAAAD69goy6ke2cQAAAABJRU5ErkJggg==")

.social-likes__widget_single
  &:hover, &:active, &:focus
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background: #3673f4
    border-color: #3673f4
    color: #fff

.social-likes__widget_active
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: #3673f4
  border-color: #3673f4
  color: #fff

.social-likes__widget_single
  &:hover .social-likes__icon_single, &:active .social-likes__icon_single, &:focus .social-likes__icon_single
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANBAMAAACJLlk1AAAAJ1BMVEUAAAD///////////////////////////////////////////////+uPUo5AAAADHRSTlMAgCAEAR8yv828u84vVgNUAAAAMUlEQVQI12NgYC1iAILoEwoMDCzLjk0Bsg0OGDAwCAocYBRgEGA4wICdZEAjBYFAAADupAoF0Um+qgAAAABJRU5ErkJggg==")

.social-likes__widget_active .social-likes__icon_single
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANBAMAAACJLlk1AAAAJ1BMVEUAAAD///////////////////////////////////////////////+uPUo5AAAADHRSTlMAgCAEAR8yv828u84vVgNUAAAAMUlEQVQI12NgYC1iAILoEwoMDCzLjk0Bsg0OGDAwCAocYBRgEGA4wICdZEAjBYFAAADupAoF0Um+qgAAAABJRU5ErkJggg==")

.social-likes__icon_facebook
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAIVBMVEUAAABEVZ1CU5xCU51BUptCUps/WZlBUpxFUZZBUptCU5zhSXy8AAAACnRSTlMAPOZJSucUoxbkpAS1YAAAAC9JREFUCNdjMFoFBMoMWiBqEQOQqGBcBaISIBTDKiRKgIERiUKW0wJRSxlcQdQUAP8zI6b4pFDkAAAAAElFTkSuQmCC")

.social-likes__widget_facebook
  &:hover, &:active, &:focus
    background: #425497
    border-color: #425497
  &:hover .social-likes__icon_facebook, &:active .social-likes__icon_facebook, &:focus .social-likes__icon_facebook
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAACnRSTlMAPOZJ50oUoxbkiTHsdwAAAC9JREFUCNdjMFoFBMoMWiBqEQOQqGBcBaISIBTDKiRKgIERiUKW0wJRSxhCQNRUAP+GI7X3vdXuAAAAAElFTkSuQmCC")

.social-likes__icon_twitter
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAMAAABlXnzoAAAArlBMVEUAAAAateoatOobtOsZsuUbteoYtOwbtOoYtO4atesbtOsbtOsdsOsTsOsatesbteoateoZsuUetPAateoas+oatOoatOsbteobteoatOobtesatuobs+oatOobtOwcquIas+wbtOoZtOsAv/8zzP8btOoateobtOoateoctusateoas+sdtesbtOsatesasu0atOsateoatesbteobtewbtOsA//8Af/8btesbtevCBZhCAAAAOXRSTlMATOPfFPwp/h/22WcaDY6xcgoRo1i9hf2KpcIxcMc3CV/7TwQFcciX+TWuTjTpaDmah2ugeagBAqrTk5MMAAAAb0lEQVQIHQXBhQGDAADAsMJgwNzd3d36/2NLmC4BqHc2h310YtZfAVTVJDwycjyEUqK6C8jPTdq1oqpbWAxUVbUHE1VVtQWsM1XVrAFcz6qqFYDPPVbVQhmA7yNWzaUAwTtU7TYjAMi/nr/bJQWAP4I2FOeQn11tAAAAAElFTkSuQmCC")

.social-likes__widget_twitter
  &:hover, &:active, &:focus
    background: #00b7ec
    border-color: #00b7ec
  &:hover .social-likes__icon_twitter, &:active .social-likes__icon_twitter, &:focus .social-likes__icon_twitter
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAMAAABlXnzoAAAArlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8tivQqAAAAOXRSTlMA40xnFPwp/h/2GtnfDY6xcgoRo1i9hf2KpQRwT/sJxzfCBTFfcciXTjQ1+a7paDmah2sBqKp5AqBcnCkUAAAAb0lEQVQIHQXBhQGDAADAsMJgwNzd3d36/2NLmAwAqHc2p0O0Z9VfAFTVJNgxdLqEQqJ6DMmPTdq1nKpbGM1VVbUHM1VVtQWsM1XVrAFcz6qqFYDnPVbVYhmA7yNWLaUA4StQ7TYjAMh/fu/bJQWAP3xfFOdzJbUVAAAAAElFTkSuQmCC")

.social-likes__icon_plusone
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAMAAACOacfrAAAAb1BMVEUAAADVRT7aSDzWRj3YRT3WRj3WRT3QRUXURj3WRT7VRz7WRT3WRj7WRjzVRT3WRj7WRT7WRT7WRT/WRj7VRj3WRT7XRz/VRT7WRj3VRT3VRj7VRj3VRj3VRj7WRT7WRj3WRj7VRT3VRj/VRj7WRj5BOWz/AAAAJHRSTlMA5hXzIc7cCzb1VuO8TPzp7q8syNKXQPHD16Ds9/75tfrfaY7onWoRAAAAaUlEQVQIHQXBhQHCMAAAsEzbzmCCO/T/G0kIQ1Ps9zOg7x2nXQDiY2bINRBzyzWXYgFbPtT9VehSGfBrp0ZZ3XPVwjenUehSHTgUl3V6j5YdhhQ5PhsgfWBbgUs+d+PrFoH6XJ1OzQL8Ab/qBXvpvl1tAAAAAElFTkSuQmCC")

.social-likes__widget_plusone
  &:hover, &:active, &:focus
    background: #dd4241
    border-color: #dd4241
  &:hover .social-likes__icon_plusone, &:active .social-likes__icon_plusone, &:focus .social-likes__icon_plusone
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAMAAACOacfrAAAAb1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8v0wLRAAAAJHRSTlMA5hXzIc7cCzb1VuO8TPzp7q8syNKXQPHD16Ds/vf5tfrfaY5iSjTpAAAAaUlEQVQIHQXBhQHCMAAAsEzbzmCCO/T/G0kIQ1Ps9zOg7x2nXQDifWbINRBzyzWXYgFbPtT9VehSGfBrp0ZZPXLVwjenUehSHTgUl3V6j5YdhhQ5PhsgfWBbgUs+d+PrFoH6XJ1OzQL8Ab+4BXv1RXALAAAAAElFTkSuQmCC")

.social-likes__icon_mailru
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAABBVBMVEUAAADdlQDflADfkwDekwDfkwDflADfkwDgkQDgkgDekwDfkgDfkgDekwDfkwDekgDhkQDfkwDfkwDekwDfkgDekgDflADfkwDclgDfkwDelADfkgDdkgDfkwDfkwDfkgDekgDfkwDekwDhlgDekgDejwDgkQDekgDfjwDekgDfkgDekwDfkgDfkwDelADekgDfkgDfkwDekwDfkgDijQDekwDekwDfkgDdkwDfkgDekgDgjgDakQDfkwDblQDfkwDfkwDfkgDfkwDflADfkQDfkgDekwDekgDakQDekwDfkgDfkwDfkwDfkwDfkgDfkwDgkwDlmQDekgDfkgDfkwDekwDfkwCE8ByeAAAAVnRSTlMANWno1dNK+ypj9NKQlVj1I/LhpPOXGOMW+DfINoq7unaRhxHkJ1vuIN1ZTvDYH/4oglXiCXecgUW4LxkOyR25eXrxMGJx3mcVZlCo+ZPZg2sKxtFwjsNlTMQAAACLSURBVAgdBcGDAgJBAEDBV1ftXbZt27aN/f9PaQZ4fT9CuH8TgKLRa9U0n6KYoGsozdWnNs0khJOerOvNb0s2Xp55qPWbsgJJubM7aNhbBoD1SnUh2+kIQHW58dJJhaUO8lK/lVhD/pjjMnKZbZYFwYDRefbYxgNZUCHqvt4OJ9/QlAM4Pu5C7HXAH2ArEgXgXPf6AAAAAElFTkSuQmCC")

.social-likes__widget_mailru
  &:hover, &:active, &:focus
    background: #255896
    border-color: #255896
    color: #ffcd00
  &:hover .social-likes__icon_mailru, &:active .social-likes__icon_mailru, &:focus .social-likes__icon_mailru
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAABBVBMVEUAAAD/zgD/zAD/zQD/zQD/zAD/ywD/zQD/zgD/zgD/zAD/zQD/zQD/zQD/zQD/zAD/zQD/zQD/zQD/zQD/zAD/zAD/yQD/zAD/0AD/zAD/zAD/zQD/ywD/zQD/zQD/zQD/zAD/zQD/zQD/0gD/zAD/zAD/zAD/ygD/zQD/zQD/zwD/zgD/zQD/xgD/zQD/zAD/zAD/zQD/zQD/zAD/zAD/zQD/zQD/zQD/ywD/zgD/zQD/yAD/zAD/ygD/zAD/zAD/zwD/zQD/zQD/zQD/zQD/zQD/zgD/zQD/zAD/zAD/zQD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zAD/zQA2FQcoAAAAVnRSTlMANWno09VK+ypj9NKQlVgj9fLhpPOXGOMW+DfINop2uruRhxHk7lsn8E4gWd0JdyicH4JV/uLYgUUvuA4ZHXl6MHHJuWLxFWeTg2bZ3vmoUHDGjtFrCkrVFEMAAACLSURBVAgdBcGDAgJBAEDBV1ftXbZt27aN/f9PaQb4PT9CuN9TgLLBa9U0n6KYoGasztSvNskkhIO6bOnNL0s2WVl76DcbsgRxubI76drbRoDdQnUhO+kIQHG+9NJLhaUO8lK/lVhD/pjzPnaZbZYNwYDB8fDYRgOZUyHqvh0PZ9/QVADYny5CXHXAH2AqEgUFHl9JAAAAAElFTkSuQmCC")

.social-likes__icon_vkontakte
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAdVBMVEUAAABceJt/f39Yc5xZdZtZdZo/f39YdZtVd5lXc5lZdZtYdJtZdZpZdJtZdZdYdJtbc51aeJ1ZdZtad5lff59YdJtbdppZdZoAAP9YdZxZdZtac5tYdJtYdZpZcplZdZpYdZpYdJtbdZxZdJpWdZlbcJlZdZuyYd3SAAAAJnRSTlMAJAJLSucE5g9J5KTisSXHKiL2LQiVHHoBNLYzmaoo/oSIJ44yGRX1jBMAAABWSURBVAgdBcEFAoMwAASwg8Haubtb/v/EJRkVgDJKAaAESY7NDEG+t892iSADj+aEYFgv7/aMoN5fz99+TVAHHLIgqJvrbjWcEtSknU+QAkCfrgcYd3/KVw+SV3U/fgAAAABJRU5ErkJggg==")

.social-likes__widget_vkontakte
  &:hover, &:active, &:focus
    background: #526e8f
    border-color: #526e8f
  &:hover .social-likes__icon_vkontakte, &:active .social-likes__icon_vkontakte, &:focus .social-likes__icon_vkontakte
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAdVBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////li2ZAAAAAJnRSTlMAJAJLSucE5g9J5OKkscclKvYiLXo0lQgcAYT+J7YzKIiOGaoymZIYN0kAAABWSURBVAgdBcEFAoMwAASwg8Haubtb/v/EJRkVgDJKAaAESU7NDEG+n9dhiSADl2aHYFjv1/aGoD6e5/dxRVAHbDMnqJvffj2cENSkXUyRAkCfrgcYd3/Jxw+S2sboBwAAAABJRU5ErkJggg==")

.social-likes__icon_odnoklassniki
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAMAAABoQAyvAAAAZlBMVEUAAADvkiDvkSDskST/kSTwkSDvkiDvkiHtlSPvkiDwkiH/nx/yjx/xkiLvkiHwkSHykh/vkiDwkiDwkSDvkSHwlCPukCHvkiDvkSDvjx/vkSDwkSDwkSDvkiDwkSHwkSHwkiDwkiEww5AjAAAAIXRSTlMAlIUcB8KW5h1lzwgpS3PQKPvh1JEkLtqHEMnzu8qf4PLe6M4QAAAAWElEQVQI1wXBhwGAIAAEscMGFkTFLpbff0kTKLJpygrA6PtkIB9f594xZ9ANtwbaoOdRaKGLUuygrnzf+6qmlJpGKllmK9l5AbdJm4PV6jxlV/YrHUe69h880QaRyaRLBQAAAABJRU5ErkJggg==")
  background-position: 6px 3px

.social-likes__widget_odnoklassniki
  &:hover, &:active, &:focus
    background: #f6903b
    border-color: #f6903b
  &:hover .social-likes__icon_odnoklassniki, &:active .social-likes__icon_odnoklassniki, &:focus .social-likes__icon_odnoklassniki
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAMAAABoQAyvAAAAaVBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8G612AAAAInRSTlMAloWUB8L9HeZlHM9WKQjh0Cj73nORJJ/K8uAu2ocQxvO7/NbsHQAAAFhJREFUCNcFwYcBgCAABLGzgh1UsLfff0gTyNNhSHMg07Ypg3rcjdnHGq8VVnl6p2WR66GbpKmDKmnnuU0qCpVNU6ogBivZEMGc0mngsHoe2YPr/e77e68fMsMGoRbgmK0AAAAASUVORK5CYII=")

.social-likes__icon_pinterest
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAMAAABIK2QJAAAA4VBMVEUAAADEDizFDizEDizFDyzFDi2/AD//AAC2ACTEDy3EDizGDirEDi3METPEDizMGTPEDy3EDy3FDy3EDy3DEC3EDi3GDirFDy3UACrFDyzHDTDFDizEDizIEiTFDy3FDyzFDyzBDy7FDyzFDy3FDizDDy3EDyrCDCrDDy3EDi7EDy3/AADEDy3CDS7FDyzGDi3DEC7EDy3FDCzEDyzEDi3FDy3FDyzEDy3DDy3EDy3EDyzDDizEDy3FDy3FDy3EDy3EDizEDizEDi3EDyzFDyzEDy3GES3EDizFDy3FDSzFDy0m+7bPAAAASnRSTlMA05vkYvMEAQf99RKMDzQK53bGh1+vJPgGyCX03w5D+3MhlmbUMzAqImnEArQm/FpNmCjae+bqyhHtckX+91RkaPad+sfFLZC1bmztLT8AAAB4SURBVAgdBcEDAgNBEADBPu9ebNu27WT+/6BUAZOnc9qZI8A15Xu9fMRqQ0/2bOFw7LssNtz9M7ykgyzVTX4wlDL+TK0fbwZNnac+nq8MaFWMLKXGVFvdWk5sgKoUC1oSHuClMulkLAxAJBoHACDk2ADgQSCoAIA/aVENwT7Va38AAAAASUVORK5CYII=")

.social-likes__widget_pinterest
  &:hover, &:active, &:focus
    background: #cc002b
    border-color: #cc002b
  &:hover .social-likes__icon_pinterest, &:active .social-likes__icon_pinterest, &:focus .social-likes__icon_pinterest
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAMAAABIK2QJAAAA4VBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+sqgLzAAAASnRSTlMA05vkYvMEAQf99RKMDzQK53bGh1+vJPgGyPQlDt9D+3OWZiEzMNQqImm0AsQmWvxNKJjm2nvK6vZFbu3698ctVMVk/nKdkGi1EUMlh6oAAAB4SURBVAgdBcEDAgNBEADBPu9ebNu27WT+/6BUAeOzczqYI8A15fu5v8VqQU+e/GD3GLos17z8K9ykg6zUVvbQlzL+XG2OFwZtXaA2mS0MaFaMLMX6VFvdRk5sgKqU8loSHuClMulkLAxAJBoHACDk2ADgQSCoAIA/bYkNwd3aMiEAAAAASUVORK5CYII=")
    