.table-products
	display: table
	width: 100%
	margin-bottom: 30px
	border: 1px solid #ddd
	background: #fff

	th
		background: $color-dark
		color: #fff
		font-weight: bold

	th,
	td
		padding: 10px
		line-height: 130%

	tr
		+transition(all 0.1s)

		border-bottom: 1px dotted #ccc

		&:last-child
			border: none

		&:nth-child(even)
			background: #f8f8f8

		&:hover
			background: #eee

	.action-remove
		+replace-text-with-dimensions('ico-remove.png')

		display: block
		margin: 0 auto

.table-total
	+box-sizing(border-box)

	display: table
	width: 100%
	margin-bottom: 25px
	border: 1px solid #ddd
	background: #fff

	th,
	td
		padding: 10px
		color: #666
		font-size: 1.1em
		text-align: right

	tr
		+transition(all 0.1s)

		border-bottom: 1px dotted #ccc

		&:last-child
			border: none

	tr:hover
		background: #eee

	.highlight
		th,
		td
			font-weight: bold
			color: $color-dark
