zoomContainer
	z-index: 999

	.zoomWindowContainer
		.loader
			z-index: 999
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			background: #fff image-url('ajax-loader-2.gif') 50% 50% no-repeat
