.alert
	+border-radius(3px)
	+basis-box-color($color-warning)

	margin-bottom: 25px
	padding: 10px 15px
	border:
		width: 1px
		style: solid
	font-size: 12px
	line-height: 120%

	p
		margin: 0.5em 0
		font-size: 1.2em

	.close
		float: right
		margin-top: 3px
		font:
			size: 15px
			family: $font-system
		text-decoration: none

.alert-success
	+basis-box-color($color-success)

.alert-error
	+basis-box-color($color-danger)

.alert-info
	+basis-box-color($color-info)

.alert-small
	padding: 5px 10px
	border-style: dotted
	font-size: 11px
