.billboard
	$height: 604px

	height: $height
	overflow: hidden
	position: relative

	.nav
		a
			@extend .icon
			+transition(all 0.1s)

			position: absolute
			top: 40%
			color: rgba(255, 255, 255, 0.5)
			font-size: 50px
			line-height: 50px
			text-decoration: none

			&:hover
				color: #fff

		.prev
			left: 30px

			&:before
				content: '\f124'

		.next
			right: 30px

			&:before
				content: '\f125'

	.item
		+box-sizing(border-box)

		display: block
		width: 100%
		height: $height
		overflow: hidden
		position: relative
		float: left
		padding-top: 250px
		background:
			position: 50% 50%
			repeat: no-repeat

		> a
			display: block
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0

		.item-container
			display: block
			width: $main-width
			height: 100%
			overflow: hidden
			position: relative
			margin: 0 auto

		.pane
			+opacity(0)

			width: 60%
			border: none

			.image,
			.heading,
			.text,
			.action
				+opacity(0)

				width: 100%
				position: relative

			.image,
			.heading
				+transition(all 0.3s)

			.text
				+transition(all 0.6s)

			.action
				+transition(all 0.9s)

		&.active
			.pane
				+opacity(1)

				.image,
				.heading,
				.text,
				.action
					+opacity(1)

	// Template Left
	.item-template-left
		.pane
			float: left
			text-align: left 

			.image,
			.heading,
			.text,
			.action
				left: 35px

		&.active
			.pane
				.image,
				.heading,
				.text,
				.action
					left: 0

	// Template Right
	.item-template-right
		.pane
			float: right
			text-align: right

			.image,
			.heading,
			.text,
			.action
				right: 35px

		&.active
			.pane
				.image,
				.heading,
				.text,
				.action
					right: 0

	// Template Center
	.item-template-center
		.pane
			margin: 0 auto
			text-align: center

			.image,
			.heading,
			.text,
			.action
				left: 35px

		&.active
			.pane
				.image,
				.heading,
				.text,
				.action
					left: 0
