.collapse
	+border-radius(3px)

	margin-bottom: 10px
	border: 1px solid #ddd
	background: #fff

	.collapse-heading
		a
			+transition(all 0.1s)

			display: block
			padding: 15px
			background: #f8f8f8
			color: $color-info
			font:
				weight: bold
				size: 1.1em
			line-height: 130%
			text-decoration: none

			&:hover
				background: #eee

	.collapse-container
		display: none
		padding: 15px
		border-top: 1px dotted #ddd

.collapse-open
	.collapse-container
		display: block
