.icon
	display: inline-block
	font:
		family: $font-icon
		style: normal
		weight: normal
		variant: normal
	line-height: 1
	text:
		transform: none
		rendering: auto
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	speak: none

.link
	$color: $color-custom-1
	+transition(all 0.1s)

	border-bottom: 1px dotted darken($color, 15%)
	color: darken($color, 15%)
	text-decoration: none

	&:hover
		color: darken($color, 25%)

.focus
	+box-shadow(0 0 5px 1px rgba($color-info, 0.5))
	+transition(box-shadow 0.1s)

	border: 1px solid rgba($color-info, 0.5)
	outline: none

.field-text
	+border-radius(3px)
	+box-sizing(border-box)

	width: 100%
	height: 35px
	padding: 0 10px
	border: 1px solid #ccc
	background:
		color: #fff
		image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 2px)
	font:
		weight: normal
		size: 15px
		family: $font-system

	&:focus
		@extend .focus
