h1,
h2,
h3,
h4,
h5,
h6
	font-family: $font-custom-1
	line-height: 100%

h1
	font-size: 5.5em

h2
	font-size: 4.5em

h3
	font-size: 3.3em

h4
	font-size: 2.5em

h5
	font-size: 1.8em

h6
	font-size: 1.3em

.heading
	margin-bottom: 15px

.heading-section
	@extend .clearfix

	margin-bottom: 30px
	padding-bottom: 5px
	border-bottom: 5px solid $color-custom-5

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		float: left

	.button
		float: right
