.global-header
	z-index: 99
	width: 100%
	height: 176px
	position: fixed
	left: 0
	top: 0
	background: $color-custom-1 image-url('bg-top.png') 50% 50% no-repeat

	.top
		border-bottom: 1px solid $color-custom-2

		.top-container
			width: $main-width
			height: 44px
			position: relative
			margin: 0 auto
			line-height: 44px
			text-align: right

		.welcome
			display: inline-block
			color: #fff
			font:
				size: 1.2em
				family: $font-custom-1
			word-spacing: 2px

			a
				+transition(all 0.1s)

				color: $color-custom-4
				text-decoration: none

				&:hover
					color: $color-custom-2

		.links
			display: inline-block

			li
				display: inline

				a
					+transition(all 0.1s)

					display: inline-block
					padding: 0 5px 0 10px
					border-left: 1px solid $color-custom-4
					color: $color-custom-4
					font-size: 0.9em
					line-height: 100%
					text-decoration: none

					&:hover
						color: #fff

				&:first-child
					a
						border: none

	.middle
		border-bottom: 5px solid $color-custom-2

		.middle-container
			height: 85px
			width: $main-width
			position: relative
			margin: 0 auto

		.logo
			position: absolute
			left: 50%
			top: 50px
			margin-left: -121.5px

			a
				+replace-text-with-dimensions('logo-pandoro.png')

				display: block

		.search
			$height: 30px

			width: 160px
			position: absolute
			right: 180px
			top: 28px

			legend
				display: none

			input
				@extend .field-text
				+border-right-radius(0)

				z-index: 5
				width: 80%
				height: $height
				position: relative
				float: left
				padding: 0
				border-color: $color-custom-1
				background: $color-custom-1
				color: #fff
				line-height: $height

			button
				+border-left-radius(0)

				z-index: 0
				width: 20%
				height: $height
				position: relative
				float: left
				padding: 0
				background: $color-custom-1
				color: $color-custom-2
				line-height: $height
				text-indent: -9999px

				&:after
					@extend .icon

					content: '\f21f'
					position: absolute
					left: 5px
					top: 5px
					font-size: 22px
					text-indent: 0

		.cart
			display: block
			height: 50px
			position: absolute
			right: 0
			top: 17px
			padding-left: 45px
			background:
				image: image-url('icon-basket.png')
				position: 0 50%
				repeat: no-repeat
				size: auto 80%
			color: #fff
			font-size: 0.9em
			text-decoration: none

			h4
				margin: 10px 0 5px
				font:
					weight: bold
					size: 1.2em
					family: $font-system

			&:hover
				span
					+transition(all 0.1s)

					color: $color-custom-2

	.nav
		width: $main-width
		position: relative
		margin: 0 auto

		ul
			li
				display: inline

				a
					+transition(color 0.2s)

					display: block
					float: left
					padding: 0 13px
					color: #fff
					font:
						size: 1.15em
						family: $font-custom-1
					line-height: 41px
					text-decoration: none

					&:hover,
					&.active
						background: image-url('arrow-down.png') 50% 0 no-repeat
						color: $color-custom-2

				&:nth-child(5)
					a
						margin-left: 260px

.global-footer
	z-index: 1
	width: $main-width
	height: 163px
	position: relative
	margin: 0 auto

	.legal-message
		margin-top: 15px
		color: #999
		font-size: 0.9em
		text-align: center

	.grid
		margin-top: 15px

	.pandoro
		+replace-text-with-dimensions('logo-pandoro-2.png')

		display: inline-block

	.social
		li
			display: inline

			a
				+opacity(0.8)
				+transition(all 0.1s)

				display: inline-block
				width: 41px
				height: 42px
				overflow: hidden
				margin: 10px 5px 0
				background: image-url('social.png') no-repeat
				text-indent: -9999px

				&:hover
					+opacity(1)

			&.twitter
				a
					background-position: 0 0

			&.facebook
				a
					background-position: -56px 0

			&.google-plus
				a
					background-position: -112px 0

			&.pinterest
				a
					background-position: -169px 0

			&.linkedin
				a
					background-position: -226px 0

			&.instagram
				a
					background-position: -284px 0

	.agw
		+replace-text-with-dimensions('logo-agw.png')

		display: inline-block
		margin-top: 35px

.global-content
	z-index: 0
	width: $main-width
	position: relative
	margin: 0 auto

	#cestas,
	#a-pandoro,
	#produtos,
	#dicas-gastronomicas,
	#contato
		+box-sizing(border-box)

		overflow: hidden
		position: relative
		padding-top: 60px

	#cestas
		height: 1180px

		h2
			color: $color-custom-5

		.button
			margin-top: 5px
			font-family: $font-custom-1

		.highlight
			@extend .background-color-custom-2-alpha

			padding: 15px 15px 30px

			h4
				margin-bottom: 15px
				color: #fff

			.product
				width: 207px
				margin-bottom: 0

	#a-pandoro
		height: 691px

		img
			float: left
			margin-top: 30px

		.container
			width: 400px
			float: right
			text-align: right

		h2
			margin-bottom: 30px
			color: $color-custom-2

		p
			margin: 1em 0
			color: #fff
			font:
				size: 1.3em
				family: $font-custom-1
			word-spacing: 2px
			line-height: 130%

	#produtos
		height: 693px
		color: $color-custom-4
		text-align: center

		.grid
			height: 100%

		.grid-item
			height: 75%
			position: relative

		h2
			margin-bottom: 30px

		p
			margin: 1em 0
			font:
				size: 1.2em
				family: $font-custom-1
			word-spacing: 2px
			line-height: 130%

		.product-icon
			+border-radius(100px)

			width: 140px
			height: 140px
			margin: 10px auto
			background:
				color: $color-custom-6
				position: 50% 50%
				repeat: no-repeat

		.product-icon-adega
			background-image: image-url('product-icon-adega.png')

		.product-icon-bolos
			background-image: image-url('product-icon-bolos.png')

		.product-icon-cafeteria
			background-image: image-url('product-icon-cafeteria.png')

		.product-icon-doces
			background-image: image-url('product-icon-doces.png')

		.product-icon-especiarias
			background-image: image-url('product-icon-especiarias.png')

		.product-icon-outros
			background-image: image-url('product-icon-outros.png')

		.product-icon-tortas
			background-image: image-url('product-icon-tortas.png')

		.product-icon-padaria
			background-image: image-url('product-icon-padaria.png')

		.product-icon-frios
			background-image: image-url('product-icon-frios.png')

		.button
			width: 100%
			position: absolute
			left: 0
			bottom: 0
			font-family: $font-custom-1

	#dicas-gastronomicas
		height: 691px

		h2
			margin-bottom: 30px
			color: $color-custom-3

		.tip
			$elements: 'h4, .scroll, .gallery-button, .gallery, .nav'

			width: 55%
			height: 480px
			position: relative
	
			h4
				margin-bottom: 30px
				color: darken($color-custom-5, 20%)

			.scroll
				height: 330px
				overflow: auto
				color: darken($color-custom-5, 20%)

			.gallery-button
				+border-radius(3px)
				+transition(all 0.1s)

				display: block
				width: 270px
				position: absolute
				right: 0
				bottom: 0
				margin-top: 15px
				padding: 15px
				background: darken($color-custom-5, 20%)
				color: #fff
				font:
					size: 1.2em
					family: $font-custom-1
				line-height: 120%
				text:
					decoration: none
					align: center

				&:hover
					background: darken($color-custom-5, 30%)

			.gallery
				display: none

			.nav
				position: absolute
				left: 0
				bottom: 8px

				li
					display: inline

					a
						+transition(all 0.1s)

						display: block
						float: left
						margin-right: 10px
						padding: 10px
						color: #fff
						font-size: 30px
						text-decoration: none

						&:hover
							color: darken($color-custom-5, 20%)

			.loader
				display: table
				width: 100%
				height: 100%
				position: absolute
				left: 0
				top: 0

				div
					display: table-cell
					width: 100%
					height: 100%
					color: #fff
					font-size: 60px
					text-align: center
					vertical-align: middle

			#{$elements}
				+transition(all 0.3s)

			&.loader
				#{$elements}
					+opacity(0.3)

	#contato
		height: 694px

		.form-switch
			@extend .clearfix

			margin-bottom: 30px
			text-align: center

			li
				display: inline-block

				a
					+text-shadow(1px 1px 0 rgba(255, 255, 255, 0.2))

					display: block
					float: left
					margin: 0 20px
					color: $color-custom-7
					font:
						size: 2.4em
						family: $font-custom-1
					line-height: 100%
					text-decoration: none

					&:hover
						+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.2))

						color: $color-custom-2

				&:first-child
					a
						margin-left: 0

				&:last-child
					a
						margin-right: 0


				&.active
					a
						+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.2))

						color: $color-custom-2

		.form-switch-container
			> div
				display: none

		h2
			text-align: center

		h5
			margin-bottom: 30px
			color: #fff
			text-align: center

		address
			position: relative
			margin-bottom: 30px
			padding-left: 30px
			color: #fff
			font:
				size: 1.2em
				family: $font-custom-1
			line-height: 140%

			a
				+transition(all 0.1s)

				color: $color-custom-4
				text-decoration: none

				&:hover
					color: $color-custom-2

			&:before
				@extend .icon

				content: '\f1ff'
				position: absolute
				left: 0
				top: 20%
				font-size: 30px
				color: $color-custom-2

		.pane-action
			padding: 0
			border: none

			.button
				font-family: $font-custom-1
