.list-links
	li
		margin: 5px 0
		padding-left: 10px
		// background: image-url('arrow-right-2.png') 0 50% no-repeat

		a
			color: $color-dark
			font-size: 0.9em
			text-decoration: none

			&:hover
				text-decoration: underline

.list-links-bright
	li
		// background-image: image-url('arrow-right.png')

		a
			color: #fff

.list-display
	li
		@extend .clearfix

		display: block
		margin-bottom: 10px
		padding: 10px
		border-bottom: 1px solid #ddd
		background: #eee
		line-height: 120%

		.title
			margin-bottom: 5px
			font:
				weight: bold
				size: 1.1em

		.description
			font-size: 1em

.list-thumbs
	@extend .clearfix

	li
		display: inline

		a
			+transition(all 0.1s)

			display: block
			width: 81px
			height: 103px
			overflow: hidden
			position: relative
			float: left
			margin: 0 12px 12px 0
			border: 1px solid #bbb
			text-decoration: none

			span
				+box-sizing(border-box)
				+transition(all 0.1s)

				display: block
				width: 100%
				position: absolute
				left: 0
				bottom: 0
				padding: 3px
				background: #bbb
				color: #fff
				font-size: 0.8em
				text:
					transform: uppercase
					align: center
				line-height: 110%

			&:hover
				border-color: $color-dark

				span
					background: $color-dark

		&.active
			a
				border-color: $color-dark

				span
					background: $color-dark

.list-error
	+border-radius(3px)
	+basis-box-color($color-danger)

	display: inline-block
	margin-top: 7px
	padding: 0 10px
	border:
		width: 1px
		style: solid
	font-size: 0.9em

	li
		display: block
		padding: 5px 0
		border-bottom: 1px dotted $color-danger

		&:last-child
			border-bottom: none

.list-logos
	@extend .clearfix

	li
		+transition(all 0.2s)

		display: block
		float: left
		margin: 10px
		border: 1px solid #ddd

		img
			display: block

		&:hover
			border-color: #999




