.pagination
	margin-top: 15px
	text-align: center

	ul
		+border-radius(3px)

		display: inline-block
		border: 1px solid $color-custom-5

		li
			display: block
			float: left
			color: #999
			font-size: 0.9em

			span,
			a
				display: block
				padding: 10px

			a
				+transition(all 0.1s)

				color: $color-dark
				text-decoration: none

				&:hover
					color: $color-custom-5

			&.current
				span,
				a
					background: $color-custom-5
					color: #fff
