.showcase-product
	@extend .clearfix

	.product
		+box-sizing(border-box)

		width: 210px
		height: 260px
		position: relative
		float: left
		margin: 0 10px 50px
		padding: 3px
		border: 1px solid #ddd
		background: #fff
		text-align: center

		.image
			img
				width: 100%

		.price
			$height: 85px
			+border-radius(50px)
			+box-sizing(border-box)

			width: $height
			height: $height
			position: absolute
			left: 50%
			top: 75px
			margin-left: -($height / 2)
			padding-top: 40px
			background: $color-custom-5
			color: #fff
			font:
				size: 1.4em
				family: $font-custom-1
			letter-spacing: -1px

			span
				position: absolute
				left: 12px
				top: 27px
				font-size: 0.7em

		.title
			margin-top: 60px
			color: $color-dark
			font:
				size: 1.3em
				family: $font-custom-1				

		.resume
			margin-top: 10px
			color: $color-dark
			font-size: 0.9em
			line-height: 110%

		.buy
			$height: 35px
			+box-sizing(border-box)
			+transition(all 0.1s)

			width: 80%
			height: $height
			position: absolute
			left: 50%
			bottom: -($height / 2)
			margin-left: -40%
			background: darken($color-custom-5, 15%)
			color: #fff
			font:
				size: 1.7em
				family: $font-custom-1
			line-height: $height
			text-decoration: none

			&:hover
				background: $color-custom-5
