.slider
	$height: 240px

	height: $height
	overflow: hidden
	position: relative

	.container
		height: $height
		overflow: hidden
		position: relative

		.item
			height: $height
			float: left
			background:
				position: 50% 50%
				repeat: no-repeat

			a
				display: block
				height: $height

	.nav
		a
			width: 12px
			height: 46px
			position: absolute
			top: 95px
			// background: image-url('arrows-left-right.png') no-repeat
			text-indent: -9999px

		.prev
			left: 15px
			background-position: 0 0

		.next
			right: 15px
			background-position: -13px 0

	.progress
		width: 0
		height: 2px
		position: absolute
		left: 0
		bottom: 1px
		background: #fff
