.text
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		margin-bottom: 1em

	a
		@extend .link

	p
		margin-bottom: 1em
		font-size: 1.2em
		line-height: 110%

	ul
		margin: 0 0 1em 15px
		font-size: 1.2em
		line-height: 140%

		li
			list-style: inside disc

			ul
				margin-bottom: 0
				font-size: 1em

				li
					list-style: inside circle

.text-small
	font-size: 0.9em

	p,
	ul
		margin-bottom: 0.5em
